.card {
    max-height: 200px;
    max-width: 200px;
    background-color: #FFCD00;
    border-radius: 25px;
    margin-top: 50px;
    padding: 0 10px 0 10px;
    text-align: center;
}

span {
    letter-spacing: 0.1rem;
    line-height: 1.5em;
}

.main-content {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #004B87;
}

.card.lang img {
    border: 1px solid rgb(233, 227, 227);
}

.card>img {
    min-width: 100%;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
}

.cards {
    margin-bottom: 90px;
    padding-left: 15px;
}

/* Media Query */
@media screen and (max-width:991px) {
    .main-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 200px;
    }
}